<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="1.0.3" targetFramework="net472" />
  <package id="AWSSDK.CognitoIdentity" version="3.3.100" targetFramework="net472" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.100" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.106.21" targetFramework="net472" />
  <package id="AWSSDK.Lambda" version="3.3.109.23" targetFramework="net472" />
  <package id="AWSSDK.SecurityToken" version="3.3.100" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
</packages>